<h1>新規追加</h1>
<%= form_for @book do |f| %>
    <p>書籍名<br>
    <%= f.text_field :name %></p>
    <p>価格<br>
    <%= f.number_field :price %></p>
    <p>出版社<br>
    <%= f.text_field :publish %></p>
    <p>刊行日<br>
    <%= f.date_field :publish_date %></p>
    <p><%= f.submit "追加" %></p>
<% end %>
<%= link_to "一覧へ戻る", books_path %>



